
.navigation {
    list-style:none;

}
.navigation li{
    display:inline-block;
    margin:0px 18px 18px 0px;
    text-align:center;
}
#homeback{
    height:65vh;
    /* background-image:  url("https://www.google.com/imgres?q=background%20image%20for%20website&imgurl=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F07%2F23%2F11%2F50%2F360_F_723115083_Xxh78ffOyOcBqeSJQ1bXOm9xEqcaQ2mr.jpg&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dwebsite%2Bbackground&docid=G3d1jNe1C_KzvM&tbnid=teiNE3YdK6lkTM&vet=12ahUKEwjVkMrYkKONAxVzjWMGHZ-2M6QQM3oECFUQAA..i&w=643&h=360&hcb=2&ved=2ahUKEwjVkMrYkKONAxVzjWMGHZ-2M6QQM3oECFUQAA"); */
    background-image:linear-gradient(rgba(52, 41, 109, 0.4), rgba(17, 12, 12, 0.4)),url("https://www.google.com/imgres?q=background%20image%20for%20website&imgurl=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F07%2F23%2F11%2F50%2F360_F_723115083_Xxh78ffOyOcBqeSJQ1bXOm9xEqcaQ2mr.jpg&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dwebsite%2Bbackground&docid=G3d1jNe1C_KzvM&tbnid=teiNE3YdK6lkTM&vet=12ahUKEwjVkMrYkKONAxVzjWMGHZ-2M6QQM3oECFUQAA..i&w=643&h=360&hcb=2&ved=2ahUKEwjVkMrYkKONAxVzjWMGHZ-2M6QQM3oECFUQAA");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.text-center{
    text-align:center;
}

.navigation li a{
    
    border-bottom:1px solid rgb(113, 227, 233);
    text-decoration: none;
    color:white;
}

.navigation li a:hover{
    border-bottom:2px solid rgb(244, 146, 10);
    border-top:2px solid rgb(244, 146, 10);
    text-shadow:1px 1px rgb(13, 13, 13);
    color: rgb(37, 216, 236);
}

.lilo button{
    text-align:right;
    float:right;
}

#myname{
    padding-top:25px;
    font-size:50px;
    color: white;
    text-align: center;
  }

  #my{
    padding-top:0.00009px;
    font-size:25px;
    color: white;
    text-align: center;
    background-color: coral;
  }

/* Q table */

table{
    margin-left: auto;
    margin-right: auto;
}
  #td1{
    text-align: center;
    background-color: rgb(82, 185, 249);
    border-radius: 22px;
}
td{
    background-color:rgb(251, 173, 173);
}
/* table uniqy */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }